<a href="https://colab.research.google.com/github/shcho11/01.PythonBasics_memo2/blob/main/Python_practices2_3(def%2Cformat).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**def**

In [21]:
def func1():
    print('BlockDMask')

In [22]:
func1()

BlockDMask

In [23]:
func1()
func1()
func1()

BlockDMask
BlockDMask
BlockDMask



*   입력만 있는 함수

def 함수이름(매개변수1, 매개변수2, ... ):
    수행문장

In [ ]:
def func2(a, b):
    print(f'{a} 곱하기 {b} = {a * b}')

In [ ]:
func2(1, 2)
func2(1, 3)
func2(2, 4)

1 곱하기 2 = 2
1 곱하기 3 = 3
2 곱하기 4 = 8



*   반환값만 있는 함수

def 함수이름():
    수행문장
    return 반환값

In [24]:
def func3():
    return "abcdefg"
 
 
a = func3()
print(a + "GG")

abcdefgGG

In [ ]:
'''
이렇게 return 뒤에 반환하고자 하는 값을 넣으면 함수 밖에서 값을 받아서 사용할 수 있습니다.
func3() 함수를 호출하고 그 앞에 = 을 통해서 변수를 선언하여 그 변수에 반환값을 받는것 입니다. 그러면 우리는 그 변수 a를 통해서 func3()의 반환 값을 이용할 수 있습니다.
'''

* 입력, 반환값이 둘다 있는 함수

def 함수이름(매개변수1, 매개변수2 ...):
    수행문장
    return 반환값

In [26]:
def func4(a, b):
    return a * b
 
 
c = func4(3, 9)
print(c)

27

In [28]:
# 구구단 함수 버전
def gugudan(num):
    for i in range(1, 10):
        print(f'{num} x {i} = {num * i}')
 
# 구구단 출력
gugudan(2)
gugudan(3)
# ...
#gugudan(9)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

* 디폴트 매개변수

def 함수이름 (매개변수1, 매개변수2 = A, 매개변수3 = B):
    수행문장
    return 반환값

In [30]:
# 디폴트 파라미터 예제 1
def func1(a, b=5, c=10):
    return a + b + c
 
 
a = func1(1, 2, 3)  # 1 + 2 + 3
b = func1(1, 2)  # 1 + 2 + 10
c = func1(1)  # 1 + 5 + 10
# func1() error

print(a)
print(b)
print(c)

6
13
16

In [32]:
# 디폴트 파라미터 예제 2
def func2(a=10, b=20):
    return a + b
 
 
d = func2(1, 2)  # 1 + 2
e = func2(1)  # 1 + 20
f = func2()  # 10 + 20

print(d)
print(e)
print(f)

3
21
30

* 매개변수 N개

def 함수이름 (*매개변수):
    수행문장
    return *반환값*

In [34]:
def func6(*args):
    a = 0
    for i in args:
        a = a + i
    return a
 
 
b = func6(1, 2)
print(b)
 
c = func6(2, 3, 4, 5)
print(c)
 
d = func6(1, 2, 3, 4, 5, 4, 3, 2, 1)
print(d)
 
e = func6()
print(e)

3
14
25
0

#**Formatting**

* f-string

In [ ]:
'''
f-string 포매팅은 파이썬 버전 3.6 부터 사용할 수 있는 따끈따끈한 기능 입니다.
이전에 언급했던, %포매팅과 str.format 방법보다 더 최근에 나온 것 입니다.

In [ ]:
month = 1
while month <= 12:
    print(f'2020년 {month}월')
    month = month + 1

2020년 1월
2020년 2월
2020년 3월
2020년 4월
2020년 5월
2020년 6월
2020년 7월
2020년 8월
2020년 9월
2020년 10월
2020년 11월
2020년 12월

* %서식문자

In [1]:
num = 50
s = 'my age %d' % num
 
print(s)

my age 50

In [ ]:
'''
결과값은 "my age %d"위치에 num이 들어가게 되어서 "my age 50" 이런식으로 들어가게 됩니다.
여기서 문자열 뒤에 % 를 붙이고 변수를 넣은 것을 잘 알아두셔야 합니다.

정수 뿐만 아니라 실수, 

% 서식문자를 이용한 문자열 출력 자료형은 딱 3개만 알면 됩니다.
%s -> 문자열
%d -> 정수
%f -> 실수

굳이 더 알고 싶다면 아래 세개도 알아두면 좋습니다.

%o -> 8진수
%x -> 16진수
%% -> 문자 % 표현

출처: https://blockdmask.tistory.com/429 [개발자 지망생]

'''

In [2]:
# % 기호 문자 출력
names = ['kim', 'park', 'lee']
for name in names:
    print('my name is %s' % name)
 
# % 기호 정수 출력
money = 10000
s2 = 'give me %d won' % money
print(s2)
 
# % 기호 실수 출력
d = 3.141592
print('value %f' % d)

my name is kim
my name is park
my name is lee
give me 10000 won
value 3.141592

* str.format

In [ ]:
'''
▶ 포메팅 이란?
format 함수에 대해서 알기 전에 우린 문자열 포매팅이 뭔지 부터 알아야합니다.
문자열 포매팅이란 문자열을 이쁘게 만드는 방법을 이야기합니다.
좀 더 풀어서 이야기 해보자면 문자열 중간 중간에 특정 변수의 값을 넣어주기 위해서 사용하는 것 입니다.

예를 들어 우리가 구구단 프로그램을 만들다 보면
print('2 x 3 = 6') 이런식으로 노가다성으로 문자열을 만들지 않잖아요.
2도 변수, 1도 변수, 결과값인 6도 변수로 사용되고 있을텐데, 이런 형태의 문자열을 포매팅 해서 문자열을 이쁘게 재사용하도록 하는것 입니다.

곧 배우겠지만 format 함수를 사용하면 이렇게 되겠죠?
(a, b가 변수라고 쳤을 때)
print('{0} x {1} = 6'.format(a, b, a * b)) 이렇게 말이죠
'''

In [3]:
a = 2
b = 3
 
s = '구구단 {0} x {1} = {2}'.format(a, b, a * b)
print(s)

구구단 2 x 3 = 6

In [ ]:
'''
문자열 '구구단 {0} x {1} = {2}' 를 보면 중괄호를 이용해서 format 함수에서 넣어줄 것들을 표기 해줍니다.
인덱스는 0 부터 시작합니다. 이렇게 표시를 해주고 .format 함수의 인자로 순서대로 넣을 변수들을 지정해 줍니다.
'''

In [4]:
# 직접 대입하기
s1 = 'name : {0}'.format('BlockDMask')
print(s1)
 
 
# 변수로 대입 하기
age = 55
s2 = 'age : {0}'.format(age)
print(s2)
 
# 이름으로 대입하기
s3 = 'number : {num}, gender : {gen}'.format(num=1234, gen='남')
print(s3)

name : BlockDMask
age : 55
number : 1234, gender : 남

In [8]:
# 왼쪽 정렬
s9 = 'this is {0:<10} | done {1:<15} |'.format('left', 'a')
print(s9)
 
 
# 오른쪽 정렬
s10 = 'this is {0:>10} | done {1:>15} |'.format('right', 'b')
print(s10)
 
 
# 가운데 정렬
s11 = 'this is {0:^10} | done {1:^15} |'.format('center', 'c')
print(s11)

# 공백을 다른 값(#)으로 채워주기
s12 = 'this is {0:#^10} | done {1:#^15} |'.format('center', 'c')
print(s12)

this is left       | done a               |
this is      right | done               b |
this is   center   | done        c        |
this is ##center## | done #######c####### |

In [9]:
# 정수 N자리
s15 = '정수 3자리 : {0:03d}, {1:03d}'.format(12345, 12)
print(s15)
 
 
# 소수점 N자리
s16 = '아래 2자리 : {0:0.2f}, 아래 5자리 : {1:0.5f}'.format(123.1234567, 3.14)
print(s16)

정수 3자리 : 12345, 012
아래 2자리 : 123.12, 아래 5자리 : 3.14000

In [20]:
# 구구단 표시 (2단과 3단만 표시)
for a in range(2, 4):       # 앞에 표시하는 단 수 (2단, 3단)
    for b in range(1, 10):  # 뒤에 곱하는 수
        print('{0} x {1} = {2:02d}'.format(a, b, a*b))

2 x 1 = 02
2 x 2 = 04
2 x 3 = 06
2 x 4 = 08
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 03
3 x 2 = 06
3 x 3 = 09
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
'''
코드 및 설명 참고 출처: https://blockdmask.tistory.com/429 [개발자 지망생]
'''